body {
    text-align: center;
} 
form {
   left:30%; 
  text-align: center;
  
}
h3{
  text-align: center;
}
.add_item_heading{

  font-size: 30px;
}
div > .add-item{
      min-height: 120vh;
    height: auto;
    margin: auto;
 
}
.container{
  width: 60%;
  position: absolute;
  margin: auto;
  padding: 10px;  
}
.add-item{
   width: 60%;
    height: 95vh;
    position: relative;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
   /*  */
  

}
/* select{
  width: 500px;
} */
          
textarea, select{
  background-color: #3b3b3b;
  color: white;
  padding: 12px 20px; 
  cursor: pointer;
}