.bg-img {
  background:  
    linear-gradient(
      rgba(247, 244, 244, 0.45), 
      rgba(78, 77, 77, 0.45)
    ), 
    url(../../home.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

    }
 
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.app_header{
 text-align: center; 
  font-size: 58px;
  max-width: 600px;
} 
p{
  font-size: 18px;

}
h5{
     font-size: 40px;
     margin: 0 auto;
    max-width: 600px;
    color: whitesmoke;


}
@media screen and (min-width: 400px) {
  .app_header {
    font-weight:30px
  }
}
@media screen and (max-width: 700px) {
  app_header {
    position:left;
  }
}


  
