
.bg-img { 
  background-image: url("../home.jpg");
  /* min-height: 10px;  */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
h1, h2{
    color:white;
} 