* {
	box-sizing: border-box;
}
 lebel{
	display: flex;
} 
body {
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	color: #444;
	text-align: center;
	line-height: 1.5;
}
/* .App {
	text-align: center;
}

.App-logo {
	height: 11vmin;
	pointer-events: none;
} */
/* .App-logo img{
	max-width: 2400px;
} */
/* .logo {	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
	color: white;
	
} */

 nav {
	left: 0;
	right: 0;
	z-index: 10;
} 
/* header {
	padding: 10px 20px;
} */

section {
	/* padding: 1px 1px; */
	 padding: 1% 0; 
}

/* p {
	margin: 0 auto;
 
} */

form {
	text-align: left;
}

input,
textarea {
	width: 100%;
	max-width: 500px;
}

input[type="number"] {
	width: 50px;
}

label {
	display: block;
}

.form-section {
	margin-bottom: 30px;
}

input[type=text],
select {
	width: 100%;
/* 	padding: 12px; */
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
input[type=submit] {
	background-color: #3b3b3b;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
}
input[type=text] {
	background-color: #3b3b3b;
	color: white;
	padding: 22px 22px;
	margin:0;

	cursor: pointer;
}
button[type=submit] {
	background-color: rgba(235, 147, 33, 0.801);
	color: white;	
	padding: 12px 12px;
	text-transform: uppercase;
	transition: all 0.15s;
	border:0;
	
	/* border-radius: 50%; */
}
.delete-item-link-little {
	background-color: rgb(121, 10, 10);
	color: white;
	padding: 12px 20px;
	text-transform: uppercase;
	transition: all 0.15s;
	font-weight: 40;
}
.delete-item-link-little:hover {
	background-color: burlywood;
	color: black;
	font-size: 20px;
}
.navbar-left {
	float: left;
}
.navbar-right {
	float: right;
}

.topnav {
	color: #f2f2f2;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}
 li {
	order: 4;

} 

#category_id{
	background-color: gray;
	color:white;
}
  .items-display{
	padding:0;
} 
/* .DisplayImg {
	height: 200px;	
	width: 45%; 
} */
/* .DilplayImg_item {
	height: 48%;
	width: 45%;
} */
#Display_description{
	
	/* color: black;
	background-color: black; */
}
.DilplayImg_item_id{
/* height: 500px;
	width: 35%; */	
} 
.serch-item__title {
	text-align: center;
	left: 30%;
	position: absolute;
}
.search_item {
	text-align: center;
	display: inline-flex;

}
.search_item_form {
	/* margin: 0 auto; */
	/* display: flex;
	flex-direction: row;
	justify-content: center; */ 
	margin: 0.4em auto;
	transition: all 0.15s;
	margin-bottom: 20px;
}
.search_item_form_align{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
margin-top:40px;	

}
#search-Item-lebel{
display: block;
width: 100%;
text-align: center;
}
.category_title {	
	padding: 0; 
 	/* background-color: #99eed575;  */
 	 border: .1em solid rgba(100, 100, 97, 0.116);  
	color: #000;
	text-decoration: none;
	font-weight: 300;
	text-shadow: 0 0.14em 0.14em rgba(0, 0, 0, 0.35);
	font-family: 'Roboto', sans-serif;
	
}
.categoryList h3{
margin:0;
}
.categoryListItem{
	
	padding:0;
}
.add-new-item {
	padding: .46em 40em;
	border: 0 .1em solid rgb(45, 141, 231);
	font-weight: 300;
	/* border-radius: 50%; */
	color: #3b3b3b;
	margin: 0;
	/* text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35); */
}
.button_center {
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 10 10;
	padding-bottom: 20px;
}
button.add-new-item:hover {
	background-color: #99eed575;
	color: black;
	font-size: 20px;
}
button.add-new-item:active {
	background-color: #99eed575;
}
.mainpage {
	text-decoration-style: none !important;
}
.mainpage_main{
	padding: 0px;
}
.itemList{
	padding-left:0px;
	margin:0;
}
@media screen and (max-width:800) and (min-width:300){
	.button_center{
		padding-bottom: 10px;
	}
}
contact.footer{
	z-index: 0;
	position: fixed;
}
@media screen and (max-width:800){
	.topnav{
		bottom: 0;
	}
}