.navbar-left{
  float: left;
 /*  font-size: 20px; */
  /* font-weight: 800; */
}
.topnav{
  padding: 0;
}
#house-logo{
  padding-left: 10px;
  padding-right:10px;
  /* padding-bottom:12px; */
  font: outline;
  font-style: italic;
  font-weight: 800;
  background-color: teal;
}
.navbar-right{
  padding: 10px;
}
.navbar-right a{
  padding: 6px;
}
.navbar-left a{
  padding: 6px;
}
.navbar-right a{
  padding: 6px;
}